<header class="top-header">

  <dir class="app-logo">
    <%= link_to "RIDE with US", root_path, class: "logo" %>
  </dir>

  <div class="nav">
    <ul class="nav-menu">
      <li>
        <%= link_to "ログイン", "#", class: "menu-item" %>
      </li>
      <li>
        <%= link_to "アカウント作成", "#", class: "menu-item"%>
      </li>
    </ul>
  </div>

</header>
