<div class="landing-wrapper">

  <%= render "shared/header" %>

  <div class="main-content">
    <%= render 'shared/notifications' %>
    <h1>Home#index</h1>
    <p>This is LANDING PAGE</p>
    
  </div>

  <%= render "shared/footer" %>

</div>

